
<div class="pokemon-display">
    <div>
        <h1>{{pokemonName}}</h1>
        <br>
        <br>
        <h1>HP: {{pokemonHp}} </h1>
        <meter value={{pokemonHp}} min="0" max="200"></meter>
        <br>
        <br>
        
        <h1>Attack: {{pokemonAttack}}</h1>
        <meter value={{pokemonAttack}} min="0" max="200"></meter>
        <br>
        <br>
        
        <h1>Defence: {{pokemonDefence}}</h1>
        <meter value={{pokemonDefence}} min="0" max="200"></meter>
        <br>
        <br>
        <br>
        <img src={{pokemonImage}} alt={image} width="120px"/>
    </div>

    <img src="../../../assets/vs.png" alt="" width="200" class="vs">

    <div>
        <br>
        <h1>{{pokemonName2}}</h1>
        <br>
        <br>
        <h1>HP: {{pokemonHp2}} </h1>
        <meter value={{pokemonHp2}} min="0" max="200"></meter>
        <br>
        <br>

        <h1>Attack: {{pokemonAttack2}}</h1>
        <meter value={{pokemonAttack2}} min="0" max="200"></meter>
        <br>
        <br>

        <h1>Defence: {{pokemonDefence2}}</h1>
        <meter value={{pokemonDefence2}} min="0" max="200"></meter>
        <br>
        <br>
        <img src={{pokemonImage2}} alt={image2} width="120px"/>
    </div>

</div>


