<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="header-arena">
    <h1 class="header">Poke Battles</h1>
    <img src="../assets/arena.png" alt="arena">

    <div class="search-fields">
      <input type="text" placeholder="select pokemon 1" #pokemon1 (keyup.enter) = "setName(pokemon1.value)"/>
      <input type="text" placeholder="select pokemon 2" #pokemon2 (keyup.enter) = "displayPokemonStats(pokemon2.value)"/>
    </div>
    <app-pokemon [pokemonName] = "name"></app-pokemon>
    <app-opponents [title]="title"></app-opponents>

  </div>

  <app-stats-meter></app-stats-meter>
  <app-stats-meter></app-stats-meter>
  <app-stats-meter></app-stats-meter>
  <app-stats-meter></app-stats-meter>
  
</body>
</html>

