<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="header-arena">
    <h1 class="header">Poke Battles</h1>
    <img src="../assets/arena.png" alt="arena">
    <div class="search-fields">
      <input type="text" placeholder="select pokemon 1" #pokemon1 (keyup.enter) = "displayPokemonStats(pokemon1.value, 1)" />
      <input type="text" placeholder="select pokemon 2" #pokemon2 (keyup.enter) = "displayPokemonStats(pokemon2.value, 2)"/>
    </div>
  </div>

  <div>

    
    
    <app-pokemon [pokemonName] = "name" [pokemonHp] = "hp" [pokemonAttack] = "attack" [pokemonDefence] = "defence" [pokemonImage] = "image"
    [pokemonName2] = "name2" [pokemonHp2] = "hp2" [pokemonAttack2] = "attack2" [pokemonDefence2] = "defence2" [pokemonImage2] = "image2"></app-pokemon>
    <br>
    <button (click) = "determineWinner()">Fight</button>
    
  </div>
  
</body>
</html>

